[manager]
ratio          = [ 1, 3, 4 ]
sort_by        = "natural"
sort_sensitive = false
sort_reverse   = false
sort_dir_first = true
show_hidden    = false
show_symlink   = true

[preview]
tab_size        = 2
max_width       = 600
max_height      = 900
cache_dir       = ""
image_filter    = "lanczos3"
image_quality   = 75
sixel_fraction  = 15
ueberzug_scale  = 1
ueberzug_margin = 0

[opener]
mpv-share = [
    { run = '/home/sarath/.local/bin/mpv-share "$@"', block = true, desc = "Share with mpv-share" }
]
open = [
	{ run = 'xdg-open "$@"', desc = "Open" },
]

[open]
rules = [
	{ mime = "video/*", use = [ "open" ] },
	{ name = "*", use = [ "open" ] },
]
